/* General Overrides of Metronic */
@import "_variables"
@import "_util/mixin"
@import "_util/grid"
@import "_partial/highlight"
@import "fonts"
@import "index"

.content-page {
  margin-right: 0px !important;
}

/* Paginator styles */

.pagination > a,
.pagination > span {
  display: inline-block;
  margin-left: 5px;
  border-radius: 25px !important;
  border: none;
  color: #868c93;
  padding: 6px 12px;
  position: relative;
  float: left;
  margin-left: -12px;
  margin-right: 17px;
  line-height: 1.42857143;
  text-decoration: none;
  background-color: #fff;
}

.pagination > a:hover {
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
  z-index: 3;
}


.pagination > a:first-child,
.pagination > a:last-child {
  padding: 4px 12px 8px;
}

.pagination span {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}


#page-nav {
  float: none !important;
  margin-bottom: 20px !important;
  margin-left: 5px;
}

/* Extra info topbar tweaks */

@media (max-width: 480px) {
  .pre-header .list-inline li {
    margin-bottom: 2px;
  }

  .page-header-fixed .pre-header {
    opacity: 0;
  }
}

@media (max-width: 767px){
  .pre-header .pull-right {
      float: right !important;
  }
}

/* Menu tweak */

@media (max-width: 1024px) {
  .page-header-fixed .header-navigation {
	  height: auto !important;
  }
}

/* Typography and Posts */

p {
  line-height: 1.5;
}

h4 {
  line-height: 1.5 !important;
}

.article-entry p, .article-entry li {
  text-align: inherit !important;
  line-height: 1.75em !important;
  font-size: 1.2em;
  //max-width: 42em;
  color: #333;
}

.article-entry h1, h2, h3, h4, h5 {
  //margin-top: 20px;
}

.article-entry p a {
  white-space: pre-wrap;
  word-break: break-word;
}

.blog-item .blog-info {
  margin-top: 10px !important;
}

.blog-item img {
  width: 100%;
  margin: 16px 0px;
}

.image-strip {
  max-height: 300px;
  overflow: hidden;
}


/* Index styles */

.row-corporate {
  height: 600px; 
  background-size: cover !important; 
  overflow: hidden;
  height: 600px;
}


.flush-with-header {
  margin-top: -23px; 
}

.row-corporate img {
  height: 500px;
  margin-top: 100px;
}

.row-corporate-text-container {
  height: 600px;
}

.bg-light-1 {
  background: url('/metronic/assets/pages/img/frontend-slider/bg2_BK.jpg') no-repeat center;
}

.bg-light-2 {
  background: url('/metronic/assets/pages/img/frontend-slider/bg4.jpg') no-repeat center;
}

/* Pseudo-element used to push text to center */

.row-corporate-text-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.row-corporate-text {
  display: inline-block;
  vertical-align: middle;
  width: 99%;
}

/* Project Page Styles */

.mix-info {
  display: none;
}

.mix_all {
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.mix_all img {
  width: 100%;
}

.btn-primary {
  color: white !important;
  border: 1px solid #e94d1c !important;
}

/* md styles */
.full-column-start ~ br,
.full-column-start ~ p,
.full-column-start ~ img,
.full-column-start ~ h2 {
  width: 100%;
  float: none;
  display: inline-block;
}
.full-column-end ~ br,
.full-column-end ~ p,
.full-column-end ~ img,
.full-column-end ~ h2 {
  width: auto;
  float: none;
  clear: none;
}
.left-column-start ~ br,
.left-column-start ~ p,
.left-column-start ~ img {
  width: 50%;
  float: left;
}
.left-column-end ~ br,
.left-column-end ~ p,
.left-column-end ~ img {
  width: auto;
  float: none;
  clear: none;
}
.right-column-start ~ br,
.right-column-start ~ p,
.right-column-start ~ img {
  width: 50%;
  float: right;
}
.right-column-end ~ br,
.right-column-end ~ p,
.right-column-end ~ img {
  width: auto;
  float: none;
  clear: none;
}

.breadcrumb {
  text-align: left;
}

.article-title {
  padding-top 50px
  color: unset
  @media mq-tablet {
    padding-top 40px
    margin-bottom: 40px
  }
  @media mq-mobile {
    padding-top 30px
    margin-bottom: 30px
  }
}

.article-header {
  margin-bottom 100px
  @media mq-tablet {
    margin-bottom 50px
  }
  @media mq-mobile {
    margin-bottom 30px
  }
}

.article-title {
  font-size 48px
  text-decoration none
  @media mq-ipad-to-sn {
    font-size 42px
  }
  @media mq-normal-to-ipad {
    font-size 36px
  }
  @media mq-tablet {
    font-size 32px
  }
  @media mq-mobile {
    font-size 24px
  }
}

.article-title:hover {
  text-decoration none
}

.article-comment-link,
.article-comment-link:hover {
  text-decoration none;
  color: unset;
}

.blog-item .blog-info li.blog-publish-date {
}
.blog-info li.blog-tags-list {
  background-color: color-bg-tag
  color: color-text-white
  padding: 5px
}
.blog-info li.blog-tags-list a {
  color: color-text-white
}
.blog-info li.blog-socials a {
  color: unset
}
.blog-info li.blog-socials a i {
  color: unset
}


.blog-item .blog-info li.blog-publish-date,
.blog-info li.blog-tags-list,
.blog-info li.blog-socials a {
  font-size 20px

  @media mq-ipad-to-sn {
    font-size 20px
  }
  @media mq-normal-to-ipad {
    font-size 18px
  }
  @media mq-tablet {
    font-size 16px
  }
  @media mq-mobile {
    font-size 14px
  }
}

.blog-item .blog-info {
  @media mq-mobile {
    display flex
    flex-direction: column
  }

  li {
    @media mq-mobile {
      margin-bottom: 10px
    }
  }
}

#article-nav {
  padding 50px 0;
  border-top: 2px solid #dadada;
  border-bottom: 2px solid #dadada;
  margin: 50px 0 25px;
  user-select none;
  display flex
  align-items center
  justify-content space-between

  .article-nav-link-wrap {
    font-size 24px;
    font-weight bold;
    font-family ProximaNova, Roboto;
    text-transform uppercase;
    color: #818181;
    cursor: pointer;
    @media mq-normal-to-ipad {
      font-size 20px
    }
    @media mq-tablet {
      font-size 18px
    }
    @media mq-mobile {
      font-size 16px
    }

    &:hover {
      color: color-text-selected;
    }
  }
}